{% extends 'base.html' %}

{% load static %}

{% block title %}Login{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/login.css' %}" />
{% endblock %}

{% block content %}
    <div class="Loginform">
        <h3>すごろーかるにログイン</h3>

        {% if form.errors %}
        <p class="error-msg">ユーザ名とパスワードが不一致です もう一度入力してください</p>
        {% endif %}

        {% if next %}
        {% if user.is_authenticated %}
        <p class="error-msg">このページにはアクセスできません 別のアカウントでアクセスし直してください</p>
        {% else %}
        <p class="error-msg">ログインしてください</p>
        {% endif %}
        {% endif %}

        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <table id="login-table">
                {{ form.as_table }}
            </table>
            <button type="submit" id="Login-Sub" class="submit">Login</button>
            <input type="hidden" name="next" value="{{ next }}"/>
            <a href="{% url 'signup' %}"><p id="newRegist">新規登録はこちら</p></a>
        </form>
    </div>
{% endblock %}
