{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}index{% endblock %}</title>
        <meta charset="utf-8">
        <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
        <link href="{% static 'css/base.css' %}" rel="stylesheet">
        {% block css %}{% endblock %}
        {% block js %}{% endblock %}
    </head>
    <body {% block index-init %}{% endblock %}>
        <div class="container">
            <header>
                <div id="header-wrapper">
                    <a href="{% url 'index' %}" id="logo">
                        <img src="{% static 'image/logo_clear_background.png' %}" alt="logo" width="150px" height="80px">
                    </a>
                    {% if user.is_authenticated %}
                        <ul class="menu">
                            <li class="menu__single">
                                <img src="{{ user.icon.url }}" width="50" height="50">
                                <ul class="menu__second-level">
                                    <li><a href="{% url 'profile' user.pk %}" id="user" class="header-url">プロフィール</a></li>
                                    <li><a href="{% url 'logout' %}" class="header-url">ログアウト</a></li>
                                </ul>
                            </li>
                        </ul>
                    {% endif %}
                </div>
            </header>

            {% block content %}{% endblock %}
            <footer>
                <p>お問い合わせ（developer)~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</p>
                <a href={% url 'index' %}>Topへ</a>
            </footer>
        </div>
    </body>
</html>