{% extends 'base.html' %}

{% load static %}

{% block title%}サービス紹介{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/explain.css' %}" />
{% endblock %}

{% block content %}
<main>
    <div class="Text">
        <div id="Index">
            <h2>機能紹介</h2>
            <h4>-ブラウザ上のアプリ-</h4>
            <ul>
                <li>開催するイベントの登録</li>
                <li>出店施設の管理、募集</li>
                <li>すごろくマップの自動生成</li>
                <li>イベントの広告、広報</li>
            </ul>
            <h4>-携帯端末のアプリ-</h4>
            <ul>
                <li>イベントの検索、申し込み</li>
                <li>すごろくに沿った案内</li>
            </ul>
        </div>
        <div id="Explain">
            <h2>機能説明</h2>
            <h3>ブラウザ上でのWEBアプリ</h3>
            <div class="On_Browser">
                <li>開催するイベントの登録</li>
                <p>イベントの主催者は開催するイベントの開催地や日時などの<br> イベントに必要な情報を入力するだけで、参加者 や 施設の管理者 への募集ページを作成できます。</p>
                <li>出店施設の募集、管理</li>
                <p>すごろくの主催者が作成した募集ページから、<br> 出店を希望する施設・店舗の管理者が必要な情報を入力し、出店申請できます。<br> 主催者側は申請された施設を一覧で把握することができます。</p>
                <li>すごろくマップの自動生成</li>
                <p>出店する施設・店舗を決定すると、アプリですごろくマップが自動生成されます。</p>
                <li>イベントの広告、広報</li>
                <p>イベントの概要が決まると<br> 主催者がイベントの概要を参加者の携帯端末のアプリに公開することができます。</p>
            </div>
            <h3>携帯端末のアプリ</h3>
            <div class="On_CellPhone">
                <li>イベントの検索、申し込み</li>
                <p>イベントの参加者は、主催者が公開したイベントの情報をアプリ上で探すことができ、<br> そのまま参加の申し込みができます。</p>
                <li>すごろくマップに沿った誘導</li>
                <p>参加者のアプリでは、実際の地図に基づいて生成されたすごろくマップが表示されます。<br> これを頼りに、イベントをスムーズに進めることができます。</p>
            </div>
        </div>
    </div>
</main>
{% endblock %}