<!--indexのExplain Pagesのボタンから飛ぶページ-->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>サービス紹介</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" media="screen" href="Explain.css" />
    </head>
    <body>
        <div class="Text">

            <div id="Index">
                <!--目次-->
                <h2>機能紹介</h2>
                <h4>-ブラウザ上のアプリ-</h4>
                <ul>
                    <li>開催するイベントの登録</li>
                    <li>出店施設の管理、募集</li>
                    <li>すごろくマップの自動生成</li>
                    <li>イベントの広告、広報</li>
                </ul>
                <h4>-携帯端末のアプリ-</h4>
                <ul>
                    <li>イベントの検索、申し込み</li>
                    <li>すごろくに沿った案内</li>
                </ul>
            </div>
            <div id="Explain">
                <!-- 説明テキストの要素　ここから -->
                <h2>機能説明</h2>
                <h3>ブラウザ上でのWEBアプリ</h3>
                <div class="On_Browser">
                    <li>開催するイベントの登録</li>
                    <p>イベントの主催者は開催するイベントの開催地、日時、規模など、<br> イベントに必要な情報を入力するだけで、イベントを作成できます
                    </p>

                    <li>出店施設の管理、募集</li>
                    <p>すごろくの主催者がイベントの開催情報を入力すると募集ページが作成されます<br> 出店を希望する施設、店舗の出店者が必要な情報を入力し、申請できます
                        <br> 主催者側は申請された施設を簡単に把握することができます
                    </p>

                    <li>すごろくマップの自動生成</li>
                    <p>出店する施設、店舗が決定すると、アプリですごろくマップが自動生成されます</p>

                    <li>イベントの広告、広報</li>
                    <p>WEBアプリケーションでイベントの概要が決まると<br> 主催者がイベントの概要を参加者の携帯端末のアプリに公開することができます
                    </p>

                    <li>イベントの円滑な運営をサポート</li>
                    <p>参加者にトラブル等が発生した場合、端末とブラウザ上で参加者と主催者が連絡を取ることができ、<br> 予期しないトラブルでも迅速に対応することができます
                    </p>

                </div>

                <h3>携帯端末のアプリ</h3>
                <div class="On_CellPhone">
                    <li>イベントの検索、申し込み</li>
                    <p>イベントの参加者は、主催者が公開したイベントの情報をスマートフォン上で探すことができ、<br> アプリ上で参加の申し込みができます
                    </p>

                    <li>すごろくに沿った案内</li>
                    <p>参加者のアプリでは、実際の地図に基づいて生成されたすごろくが表示されます<br> これを頼りに、イベントをスムーズに進めることができます
                    </p>
                </div>

            </div>
            <!-- 説明テキストの要素　終了 -->
        </div>

        <a href="{% url 'index' %}">topへc</a>
    </body>
</html>