{% if event.host_user_id == request.user.pk %}
    <div class="list-btn">
        <ul>
            {% if event.registration_state == event.REGISTRATION_SHOPS %}
                <li>
                    <a href="{% url 'app:register_participates' event.id %}" class="select_btn">
                        <i class="fa fa-chevron-right" id="candidates">イベント参加者募集ページ作成</i>
                    </a>
                </li>
            {% endif %}
            {% if event.registration_state in IS_ABLE_MAKING_MAP_STATES %}
                <li>
                    <a href="#" class="select_btn">
                        <i class="fa fa-chevron-right" id="maps">マップ作成</i>
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>
{% endif %}