<!DOCTYPE HTML>
<html>
    <body>
        <h2>店舗をイベントに登録する</h2>
        <form method="post" action="{% url 'app:shop_entry' event.id %}">
            {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
            {% if name_valid_mess %}
                <p>{{ name_valid_mess }}</p>
            {% endif %}
            {% if mail_valid_mess %}
                <p>{{ mail_valid_mess }}</p>
            {% endif %}
            <input type="submit" value="submit">
        </form>
    </body>
</html>